<div class="container">
  <h1>Este es mi primer proyecto en angular</h1>
  <h2>{{ welcome }}</h2>
  <ul>
    @for (task of tasks(); track task) {
      <li>
        {{ task }}
      </li>
    }
  </ul>
  <hr />
  <h2>{{ 'Hola'.repeat(4) }}</h2>
  <p>La suma de 3 + 3 es {{ 3 + 3 }}</p>
  <p>Hola soy {{ name() }} y tengo {{ age }} años</p>
  <img [src]="img" alt="">
  <input type="text" [value]="name()">
  <input type="number" [value]="person().age">
  <button [disabled]="disabled">click me</button>
  <p>person: {{ person().name }}</p>
  <hr />
  <button (click)="clickHandler()" >click me</button>
  <button (dblclick)="clickHandler()" >double click me</button>
  <p>(change)</p>
  <input type="number" [value]="person().age" (change)="changeHandler($event)">
  <p>(keydown)</p>
  <input type="text" [value]="person().name" (keydown)="keydownHandler($event)">
  <hr />
  <ul>
    <p>total: {{ tasks().length }}</p>
    @for (task of tasks(); track task; let i = $index) {
      <li>
        {{ i }} {{ task }}
      </li>
    }
  </ul>
  <h1>Signals</h1>
  <input type="text" [value]="name()" (change)="changeHandler($event)">
  <p>name is: {{ name() }}</p>
  <p>name is: {{ name() }}</p>
  <hr />
  @if (1 === 1) {
    <div>
      My Content
    </div>
  }
  @if (person().name === 'Nicolas' && person().age > 18) {
    <div>
      Mi nombre es {{ person().name }} y soy mayor de 18
    </div>
  } @else {
    Mi nombre es {{ person().name }} y soy menor de 18
  }
  <hr />
  <input type="text" [value]="person().name" (change)="changeName($event)">
  <div>
    @switch (person().name) {
      @case ('Nicolas') {
        <p>Yo soy Nicolas</p>
      }
      @case ('Julian') {
        <p>Yo soy Julian</p>
      }
      @case ('Manuel') {
        <p>Yo soy Manuel</p>
      }
      @default {
        <p>Yo no soy nadie</p>
      }
    }
  </div>
  <hr />
  <input type="color" [formControl]="colorControl">
  <p>color: {{ colorControl.value }}</p>
  <svg>
    <g>
      <rect x="0" y="0" height="100" width="100" [attr.fill]="colorControl.value"/>
    </g>
  </svg>
  <hr />
  <input type="number" [formControl]="widthCtrl">
  <span class="box" [style.width.px]="widthCtrl.value"></span>
  <hr />
  <input type="text" [formControl]="nameCtrl"> <br />
  <span class="message-error" [class.active]="nameCtrl.invalid && nameCtrl.touched">Nombre invalido</span>
  <input type="text">
</div>